## Build generated
build/
DerivedData

## Various settings
xcuserdata

## Other
*.xccheckout
*.xcuserstate
*.xcscheme
Manifest.lock

## Pods
Pods/
Podfile.lock
UrlWithCuckoo.xcworkspace/contents.xcworkspacedata

## AppCode
.idea/